{{- define "anubis.container" -}}
- name: anubis
  image: ghcr.io/techarohq/anubis:v1.22.0
  ports:
    - containerPort: 8080
  env:
    - name: BIND
      value: ":8080"
    - name: TARGET
      value: {{ .Values.anubis.target | quote }} # "http://localhost:80"
    - name: POLICY_FNAME
      value: "/etc/anubis/policy.yaml"
    - name: OG_EXPIRY_TIME
      value: 5m
    - name: OG_PASSTHROUGH
      value: "false"
    - name: SECURE_COOKIE
      value: "true"
    - name: COOKIE_DOMAIN
      value: {{ .Values.anubis.domain | quote }} # "sanderpeters.cloud"
    - name: REDIRECT_DOMAINS
      value: {{ .Values.anubis.domain | quote }} # "sanderpeters.cloud"
    - name: USE_REMOTE_ADDRESS
      value: "true"
    - name: ED25519_PRIVATE_KEY_HEX
      valueFrom:
        secretKeyRef:
          name: anubis-key
          key: ED25519_PRIVATE_KEY_HEX
    - name: DIFFICULTY
      value: "12"
  volumeMounts:
    - name: anubis-policy
      mountPath: /etc/anubis
      readOnly: true
  resources:
    limits:
      cpu: 750m
      memory: 256Mi
    requests:
      cpu: 250m
      memory: 256Mi
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
{{- end }}

{{- define "anubis.volume" -}}
- name: anubis-policy
  configMap:
    name: anubis-policy
{{- end }}