apiVersion: v1
kind: Service
metadata:
  name: cockpit-external
spec:
  clusterIP: None
  ports:
    - port: 9090
      targetPort: 9090
      protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: cockpit-external
  labels:
    kubernetes.io/service-name: cockpit-external
addressType: IPv4
ports:
  - port: 9090
    protocol: TCP
endpoints:
  - addresses:
      - "192.168.2.100"
    conditions:
      ready: true
      serving: true
      terminating: false












