apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-content
  namespace: {{ .Release.Namespace }}
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head>
        <title>Hello World</title>
        <style>
        * {
            font-family: "Comic Sans MS"
        }
        </style>
    </head>
    <body>
    <h1>Hello World from K3s!</h1>
    <p>Managed by Helm!</p>
    </body>
    </html>