apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-anubis
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-anubis
    spec:
      containers:
        {{- include "anubis.container" . | nindent 8 }}
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html-content
              mountPath: /usr/share/nginx/html
              readOnly: true
      volumes:
        - name: html-content
          configMap:
            name: {{ .Release.Name }}-content
        {{- include "anubis.volume" . | nindent 8 }}